<ul class="flex flex-wrap mxn2"> 

<li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/robynn-kendy-dai-biao-zuo/idpl.49eb178e82d441f98f6587de5d3eed7d?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>Robynn ＆ Kendy</h3>
    </div>
    </a></div>
  </li>


  <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/rubberband-dai-biao-zuo/idpl.20e720a0552e49f9a624590db019f11a?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>RubberBand</h3>
    </div>
    </a></div>
  </li>

  

      <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/c-allstar-dai-biao-zuo/idpl.b2b1dfe75e1f4f49a74279ff78c99f06?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>C Allstar</h3>
    </div>
    </a></div>
  </li>

        



  <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/beyond-dai-biao-zuo/idpl.6322913854da40ae931efb22d9bf706b?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>Beyond</h3>
    </div>
    </a></div>
  </li>

              <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/dear-jane-dai-biao-zuo/idpl.adb66c4c159b469fa3149d3b1bdca5a3?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>Dear Jane</h3>
    </div>
    </a></div>
  </li>

            <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/at17-dai-biao-zuo/idpl.7dbae45204c740148a7090f1efa19700?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>at17</h3>
    </div>
    </a></div>
  </li>
            <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/da-ming-yi-pai-dai-biao-zuo/idpl.21cc79eee63e4e7e86c4172f3b83105f?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>達明一派</h3>
    </div>
    </a></div>
  </li>
              <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/cao-meng-dai-biao-zuo/idpl.476f757fa9b441ecb1e7592b1f13dedd?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>草蜢</h3>
    </div>
    </a></div>
  </li>
                <li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2"><div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/supper-moment-dai-biao-zuo/idpl.5aef320af3674c2ca87a9fe72466c24c?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>Supper Moment</h3>
    </div>
    </a></div>
  </li>

                



<li class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
<div class="flex flex-end col-12 bg-aqua white card" style="min-height:20vh">
    <a href="https://itunes.apple.com/hk/playlist/swing-dai-biao-zuo/idpl.912cdbec37934117941e06849ef179e2?l=zh&at=10l32zz" class="p3">
    <div>
    <h3>Swing</h3>
    </div>
    </a></div>
  </li>

  </ul>
