
  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/xu-guan-jie-dai-biao-zuo/idpl.b3ea1f55f157427fbf4743b8337aa715?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>許冠傑</h3>
    </div>
    </a>
  </div>

          

  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/liu-de-hua-dai-biao-zuo/idpl.19aa8fd2a3414362909876efd1079a16?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>劉德華</h3>
    </div>
    </a>
  </div>

  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/xu-ting-keng-dai-biao-zuo/idpl.d43008ceb82f4f5d96afb9675759f409?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>許廷鏗</h3>
    </div>
    </a>
  </div>

            



            

            <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/gu-ju-ji-dai-biao-zuo/idpl.c5db8230f7134b658444805df474afc3?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>古巨基</h3>
    </div>
    </a>
  </div>

            <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/chen-bai-qiang-dai-biao-zuo/idpl.4070d58ccf2a43e4930c056da0f0e8de?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>陳百強</h3>
    </div>
    </a>
  </div>







  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/li-ming-dai-biao-zuo/idpl.1b736c3ab4264a78bec9f71ade98f318?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>黎明</h3>
    </div>
    </a>
  </div>

  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/liang-han-wen-dai-biao-zuo/idpl.b95eb9efe9214062b76feb83b241987b?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>梁漢文</h3>
    </div>
    </a>
  </div>

                



  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="http://is.gd/GYndgv" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>譚詠麟</h3>
    </div>
    </a>
  </div>



                <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/zhou-bai-hao-dai-biao-zuo/idpl.85ba6a5dfefd4e81aab1fc7a2ae0b88d?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>周柏豪</h3>
    </div>
    </a>
  </div>

                  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/zhang-xue-you-dai-biao-zuo/idpl.43d8930feb214fcdb713816983036d8e?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>張學友</h3>
    </div>
    </a>
  </div>

                  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/xu-zhi-an-dai-biao-zuo/idpl.11f56a5476674e4e8fee31219c65f10e?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>許志安</h3>
    </div>
    </a>
  </div>

                  <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/li-ke-qin-dai-biao-zuo/idpl.3da71801d84346128a35b99939c9d83f?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>李克勤</h3>
    </div>
    </a>
  </div>

                    <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/guo-fu-cheng-dai-biao-zuo/idpl.5da6f9936eff43e38bd19aa308f943d8?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>郭富城</h3>
    </div>
    </a>
  </div>

                    

                    <div class="sm-col-6 lg-col-2 flex flex-auto col-12 px1 mb2">
    <a href="https://itunes.apple.com/hk/playlist/zhang-jing-xuan-dai-biao-zuo/idpl.154a189b1a8c4bc49480c7892a160ed8?l=zh&at=10l32zz" class="flex flex-end col-12 card bg-blue white" style="min-height:20vh">
    <div class="m2">
    <h3>張敬軒</h3>
    </div>
    </a>
  </div>

